<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-address-book fa-lg"></i>
      </div>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Имя' %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-envelope fa-lg"></i>
      </div>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
