<%# Паршиал дляотображения формы создания нового события %>
<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-header fa-lg"></i>
      </div>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Название' %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-map fa-lg"></i>
      </div>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Адрес' %>
    </div>
  </div>

  <div class="form-group">      
      <p><i class="fa fa-calendar fa-lg"></i> <%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-user fa-lg"></i>
      </div>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
