<%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

    <% unless user_signed_in? %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-address-book fa-lg"></i>
            </div>
            <%= f.text_field :user_name, class: 'form-control', placeholder: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-envelope fa-lg"></i>
            </div>
            <%= f.text_field :user_email, class: 'form-control', placeholder: true %>
          </div>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Подписаться', class: 'btn btn-primary' %>
    </div>
<% end %>
