<h1><%= t '.title' %></h1>
<img src=<%= root_url[0..-2] + url_for(@photo.photo.variant(:thumb)) %>>
<p><%= t '.author' %>: <strong><%= link_to @photo.user.name, @photo.user %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= link_to @event.title, @event %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= link_to @event.user.name, @event.user %></h4>
